.datagrid-head table, 
.datagrid-head table >  tr, 
.datagrid-head table >  tr > td, 
.datagrid-body table,
.datagrid-body table >  tr,
.datagrid-body table >  tr > td,
.datagrid-foot table,
.datagrid-foot table >  tr,
.datagrid-foot table >  tr > td

{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  table-layout: fixed;
}

.datagrid-head table >  tr > td,
.datagrid-body table >  tr > td,
.datagrid-foot table >  tr > td {

  border  : 1px outset #ccc;
  padding : 2px;
}


.datagrid-head table >  tr > td,
.datagrid-foot table >  tr > td {
  background-color:#DDD;
}
.datagrid-body table >  tr > td {
  background-color:#FFF;
}

.datagrid-head, .datagrid-body, .datagrid-foot {
  overflow: hidden;
}
.datagrid-body table >  tr > td > input:first-child:last-child {
  width:100%;
  width:100%;
}
