/**
 * Estilos Iniciais
 */
table.datagrid-table, 
table.datagrid-table > tr, 
table.datagrid-table > tr > td {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  table-layout: fixed;
  margin: 0;
  font-weight: normal;
}                      
table.datagrid-table {
  border-spacing:0;
}                       
table.datagrid-table >  tr > td {
                       
  border          : 1px outset  #ccc;
  padding         : 1px;       
  padding-left    : 3px;       
  padding-right   : 3px;
  margin          : 0 auto;
  background-color: #DDD;
}

.datagrid-body > table.datagrid-table > tr > td {
  background-color:#FFF;
}

.datagrid-head, .datagrid-body, .datagrid-foot {
  /* overflow: hidden;*/
}

.datagrid-body > table.datagrid-table >  tr > td > input:first-child:last-child:not([type="checkbox"]) {
  width:100%;
}

/**
 * Estilos do Checkbox
 */
.datagrid-table > tr > td.datagrid-checkbox-column {

  width:25px;
  padding: 0;
  text-align: center;
}



/**
 * estilos do cabecalho
 */
.datagrid-head > table.datagrid-table > tr > td {
  font-weight: bold;
  text-align:center;
  padding-top: 3px;
  padding-bottom: 3px;
}
/**
 * estilos do Corpo
 */

/**
 * Estilos do Rodapé
 */
